* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

.container {
    margin-inline: 100px;
    margin-block: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}


input {
    width: 260px;
    height: 50px;
    padding: 16px 0px 0px 0px;
    gap: 8px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    padding: 8px 8px;
    margin-top: 24px;
}
.main_nav_btn {
    width: 121px;
    height: 56px;
    gap: 8px;
    opacity: 0px;
    border-radius: 8px;

}

.main_nav button:nth-child(2) {
    background-color: #849FFF;
    width: 121px;
    height: 56px;
    gap: 8px;
    opacity: 0px;
    border-radius: 8px;
}

.banner_main {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 70px;
}

.banner_main_first_box {
    width: 310px;
    height: 208px;
    background-color: #FBFCFF;
    gap: 16px;
    border-radius: 16px;
    opacity: 0px;
    display: flex;


}

.banner_main_first_box_item_avatar {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    margin: 24px 0 0 24px;
    object-fit: cover;


}

.banner_main_first_second_title {
    font-size: 18px;
    font-weight: 900;
    line-height: 22.63px;
    color: #151B32;
    margin: 44px 0 0 0;
}

.banner_main_first_second_note {
    margin-top: 4px;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;



}

.banner_main_first_box_btn {
    width: 61px;
    height: 22px;
    padding: 2px 8px 2px 8px;
    gap: 10px;
    border-radius: 10px;
    border: 1px;
    opacity: 0px;
    border: 1px solid #BFC8E5;
    color: #516FD4;
}

.banner_main_first_secont_box {
    flex-direction: column;
}

.banner_main_first_second_btn {
    width: 67px;
    height: 22px;
    padding: 2px 8px 2px 8px;
    gap: 10px;
    border-radius: 10px;
    border: 1px;
    opacity: 0px;
    border: 1px solid #BFC8E5;
    color: #516FD4;

}
.banner_main_second_second_btn_one{
  width: 66px;
  height: 22px;
gap: 10px;
border-radius: 10px;
border: 1px solid #BFC8E5;
opacity: 0px;
color: #516FD4;

   
}
.banner_main_second_second_btn_two{
    width: 61px;
    height: 22px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #BFC8E5;
  opacity: 0px;
  color: #516FD4;
}
.banner_main_second_second_btn_three{
    width: 54px;
    height: 22px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #BFC8E5;
  opacity: 0px;
  color: #516FD4;
  margin-top: 4px;
}
.banner_main_second_second_btn_four{
    width: 54px;
    height: 22px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #BFC8E5;
  opacity: 0px;
  color: #516FD4;
  margin-top: 4px;
}
.shadow{
    box-shadow: 0px 8px 23px 0px #DAE0F9B2;
}
.width{
    gap: 10px;
    width: 350px;
    height: 208px;
    background-color: #FBFCFF;
    gap: 16px;
    border-radius: 16px;
    opacity: 0px;
    display: flex;
}
.banner_main_third_second_btn_one{
width: 45px;
height: 22px;
gap: 10px;
border-radius: 10px;
border: 1px solid #BFC8E5;
opacity: 0px;
color: #516FD4;

}
.banner_main_third_second_btn_two{
    width: 76px;
height: 22px;
gap: 10px;
border-radius: 10px;
border: 1px solid #BFC8E5;
opacity: 0px;
color: #516FD4;
}
.banner_main_third_second_btn_three{
    width: 37px;
    height: 22px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #BFC8E5;
    opacity: 0px;
    color: #516FD4;
}
.banner_main_third_second_btn_four{
    width: 49px;
    height: 22px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #BFC8E5;
    opacity: 0px;
    color: #516FD4;
    margin-top: 4px;
}
.banner_main_third_second_btn_five{
    width: 56px;
    height: 22px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #BFC8E5;
    opacity: 0px;
    color: #516FD4;
    margin-top: 4px;
}
.banner_main_fourth_second_btn_one{
    width: 97px;
    height: 22px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #BFC8E5;
    opacity: 0px;
    color: #516FD4;
  
}
.banner_main_fourth_second_btn_two{
    width: 51px;
    height: 22px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #BFC8E5;
    opacity: 0px;
    color: #516FD4;
   
}
.banner_main_fourth_second_btn_three{
    width: 60px;
    height: 22px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #BFC8E5;
    opacity: 0px;
    color: #516FD4;
    margin-top: 4px;

}
.banner_main_fourth_second_btn_four{
    width: 53px;
    height: 22px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #BFC8E5;
    opacity: 0px;
    color: #516FD4;

   
}
.banner_main_first_fifth_btn_one{
    width: 53px;
    height: 22px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #BFC8E5;
    opacity: 0px;
    color: #516FD4;
}
.banner_main_first_fifth_btn_two{
    width: 47px;
    height: 22px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #BFC8E5;
    opacity: 0px;
    color: #516FD4;
}
.banner_main_first_sixth_btn_one{
    width: 63px;
    height: 22px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #BFC8E5;
    opacity: 0px;
    color: #516FD4;
}
.banner_main_first_sixth_btn_two{
    width: 62px;
    height: 22px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #BFC8E5;
    opacity: 0px;
    color: #516FD4;
}