*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    text-align: center;
    margin-top: 50px;
    background-color: #f0f0f0;
}

.box {
    width: 200px;
    height: 200px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 0 auto;
}

.timer {
    font-size: 50px;
    color: white;
    transition: color 0.3s ease;
}

.red {
    color: red ;
}

.restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color:  #2575fc;
    color: white;
    border-radius: 10px;
}

.restart-btn:hover {
    background-color:  #1a5acd;
}
