* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 .add_to_cart_btn{
    width: 120px;
    height: 30px;
    background-color: aquamarine;
    margin: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    
} 
.add_to_cart_btn_note{
    color: white;
}
.note {
    margin: 20px;
    color: green;
}