* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.email_table {
    width: 900px;
    height: 390px;
    background: linear-gradient(to right, #4c6cdc, #1c3fbb);
    border-radius: 10px;
    border: 20px solid #dde5f9;
    border-radius: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;

}

.email_table_main_title {
    color: white;
    font-size: 35px;
    margin: 20px 0;
    font-family: "Roboto", serif;



}

.email_table_main_note {
    color: white;

}

.email_table_main_form input {
    width: 300px;
    padding: 15px 10px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgb(176, 176, 235);
    margin-top: 20px;



}

.email_table_card {
    position: relative;
    margin: 0 auto;
    width: max-content;
}

i {
    position: absolute;
    right: 10px;
    font-size: 28px;
    top: 30px;

}
.avatars{
    position: absolute;
    bottom: -45px;
  
    left: 20%;
}
.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 30px;
    border: 5git px solid white;

}