
.fruit_card_selected{
     width: 120px;
  padding: 12px;
  margin: 10px;
  border-radius: 10px;
  background-color: #f4f4f4;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}